- name: Deploy docker compose templates
  copy:
    src: ../compose
    dest: /opt/dns-01
    owner: root
    group: root
    mode: '0644'

- name: Bring up services
  community.docker.docker_compose_v2:
    project_src: /opt/dns-01/compose
    remove_orphans: true

- name: Deploy scripts
  copy:
    src: ../scripts
    dest: /opt/dns-01
    owner: root
    group: root
    mode: '0755'

- name: Create cron job to run wol-all.sh every 3 minutes
  cron:
    name: "Wake on LAN all hosts"
    minute: "*/3"
    job: "/opt/dns-01/scripts/wol-all.sh"
    user: root
