traefik:

  ports:
    web:
      port: 80
    websecure:
      port: 443

  rbac:
    enabled: true

  securityContext:
    seccompProfile:
      type: RuntimeDefault

  providers:
    kubernetesIngress:
      enabled: true

  logs:
    general:
      level: INFO

  api: { }

  deployment:
    replicas: 3

  ingressRoute:
    dashboard:
      enabled: true
      matchRule:
        Host(`traefik.rke2.home.trankim.net`)
      entryPoints:
        - websecure

dashboard:
  host: traefik.rke2.home.trankim.net
