- name: Disable ufw
  ansible.builtin.ufw:
    state: disabled

- name: Install k3s
  ansible.builtin.shell: |
    curl -sfL https://get.k3s.io | sh -s - server --cluster-init
  args:
    creates: /etc/rancher/k3s/k3s.yaml
