- name: Update debian servers
  hosts: debian-servers
  gather_facts: true
  become: true

  tasks:
    - name: Update package cache and upgrade all packages
      apt:
        update_cache: yes
        cache_valid_time: 3600
        upgrade: dist
        autoremove: yes
        autoclean: yes
